body {
	background-color: #fbfcfc;
}

.main-section {
	margin-top: 130px;
	text-align: center;
	font-family: 'Oswald', sans-serif;

}

.main-section > p {
	font-size: 23px;
}

/*font-family: 'Slabo 27px', serif;
font-family: 'Oswald', sans-serif;*/

form + p {
	font-size: 19px !important ; 
	padding-top: 10px;
}